html,
body {
    margin: 0;
    padding: 0;
}


/*聊天窗口_顶部*/

.nav {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 50px;
    font-size: 2rem;
    background-color: #393a3f;
    z-index: 99;
}


/*聊天窗口_内容*/

.content {
    display: block;
    position: absolute;
    top: 50px;
    bottom: 50px;
    width: 100%;
    height: 1000px;
    background-color: #ebebeb;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}


/*聊天窗口_底部*/

#returnframe {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #f4f4f4;
    border-top: 1px solid #d8d8d8;
    z-index: 99;
}